body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

label {
    display: block !important;
}

.pagination {
    justify-content: flex-end !important;
}

.react-bootstrap-table-pagination {
    flex-wrap: inherit !important;
}

.customToggleList {
    display: flex !important;
    margin-top: 5px;
    flex-wrap: wrap-reverse !important;
}

#pageDropDown {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}